{% extends "app_instagram/base.html" %}

{% block content %}
<h1>Gallery</h1>
<div class="row">

    {% for pic in pictures %}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{media}}{{pic.path}}" class="card-img-top" alt="pic">
            <div class="card-body">
    
                <p class="card-text">{{pic.description}}</p>
                <a href="{% 'app_instagram:edit' pic_id %}" class="btn btn-info">Edit</a>
                <a href="{% 'app_instagram:remove' pic_id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
